@page
@model InstituteWebApp.Branches.IndexModel

@{
    ViewData["Title"] = "View All Branch";
}

<h1>View All Branch</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Branch[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Branch[0].ContactNo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Branch) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNo)
            </td>
            <td>
                <a asp-page="./Edit" class="btn btn-primary" asp-route-id="@item.BranchID">Edit</a> |
                <a asp-page="./Details" class="btn btn-primary" asp-route-id="@item.BranchID">Details</a> |
                <a asp-page="./Delete" class="btn btn-primary" asp-route-id="@item.BranchID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
