@page
@model InstituteWebApp.Students.DetailsModel

@{
    ViewData["Title"] = "Student Details";
}

<h1>Student Details</h1>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.StudentName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.StudentName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.FatherName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.FatherName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.ContactNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.ContactNo)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" class="btn btn-primary" asp-route-id="@Model.Student.StudentID">Edit</a> |
    <a asp-page="./Index">View All Student</a>
</div>
